#parse( "ru/mail/jira/plugins/contentprojects/issue/functions/macro.vm" )
#customField( "facebookField", $facebookField )
#customField( "myMailField", $myMailField )
#customField( "odnoklassnikiField", $odnoklassnikiField )
#customField( "twitterField", $twitterField )
#customField( "vkontakteField", $vkontakteField )
#customField( "googleField", $googleField )
#customField( "yandexField", $yandexField )
#customField( "otherSearchEnginesField", $otherSearchEnginesField )
#counter( "counter", $counter )
#customField( "urlField", $urlField )
#customField( "publishingDateField", $publishingDateField )
#numberOfDays( "numberOfDays", $numberOfDays )
