$i18n.getText(
    "ru.mail.jira.plugins.contentprojects.issue.functions.hits.view",
    "<strong>$hitsField</strong>",
    "<strong>$counter</strong>"
)
$i18n.getText(
    "ru.mail.jira.plugins.contentprojects.issue.functions.dataIsFilteredAndTaken",
    "<strong>$urlField</strong>",
    "<strong>$publishingDateField</strong>",
    "<strong>$numberOfDays</strong>"
)
