#macro( paramStart $id )
<tr>
    <td class="fieldLabelArea">
        <label for="contentprojects-$id">$i18n.getText( "ru.mail.jira.plugins.contentprojects.issue.functions.common.$id" ):</label>
    </td>
        <td>
#end
#macro( paramEnd )
        </td>
    </tr>
#end

#macro( customField $id $value )
    #paramStart( $id )
    <select id="contentprojects-$id" name="$id">
        #foreach( $customField in $customFields )
            <option value="$customField.id"#if( $value == $customField.id ) selected="selected"#end>$customField.name</option>
        #end
    </select>
    #paramEnd()
#end

#customField( "resultField" $resultField )

#paramStart( "counter" )
<select id="contentprojects-counter" name="counter">
    #foreach( $counter in $counters )
        <option value="$counter.getID()"#if( $counterId == $counter.getID() ) selected="selected"#end>$counter.name</option>
    #end
</select>
#paramEnd()

#customField( "urlField" $urlField )

#customField( "dateField" $dateField )

#paramStart( "numberOfDays" )
<input type="number" min="1" max="30" required="required" id="contentprojects-numberOfDays" name="numberOfDays" value="#if( $numberOfDays )$numberOfDays#{else}7#end">
#paramEnd()
