#parse( "ru/mail/jira/plugins/contentprojects/issue/functions/macro.vm" )
#customField( "hitsField", $hitsField )
#counter( "counter", $counter )
#customField( "urlField", $urlField )
#customField( "publishingDateField", $publishingDateField )
#numberOfDays( "numberOfDays", $numberOfDays )
#booleanField( "ignoreExceptions", $ignoreExceptions )
