$i18n.getText(
    "ru.mail.jira.plugins.contentprojects.issue.functions.time.view",
    "<strong>$timeField</strong>",
    "<strong>$counter</strong>",
    "<strong>$urlField</strong>",
    "<strong>$publishingDateField</strong>",
    "<strong>$numberOfDays</strong>"
)
