#parse( "ru/mail/jira/plugins/contentprojects/issue/functions/macro.vm" )
#customField( "timeField", $timeField )
#counter( "counter", $counter )
#customField( "urlField", $urlField )
#customField( "publishingDateField", $publishingDateField )
#numberOfDays( "numberOfDays", $numberOfDays )
